:{$PORT:8080} {
	encode zstd gzip

	@gatekeeper {
		path /xrpc/com.atproto.server.describeServer
		path /xrpc/com.atproto.server.createAccount
		path /gate/*
	}

	handle @gatekeeper {
		reverse_proxy {$GATEKEEPER_BASE_URL} {
			header_up Host {http.request.host}
			header_up X-Forwarded-Host {http.request.host}
			header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
			header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
			header_up X-Real-IP {http.request.header.CF-Connecting-IP}
		}
	}

	reverse_proxy {$PDS_BASE_URL} {
		header_up Host {http.request.host}
		header_up X-Forwarded-Host {http.request.host}
		header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
		header_up X-Forwarded-For {http.request.header.CF-Connecting-IP}
		header_up X-Real-IP {http.request.header.CF-Connecting-IP}
	}
}
