global
  log stdout format raw local0

defaults
  mode tcp
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend local_https
  bind :443
  default_backend pds

backend pds
  server pds host.docker.internal:3443
